/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

.tasks {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.tasks__task, 
.tasks__task-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.tasks__new-task_wrapper {
  display: flex;
}

.tasks__list {
  margin: 0;
  padding: 0px;
}

.list__item {
  list-style: none;
}

.tasks__input-text,
.tasks__input-checkbox,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.tasks__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.tasks__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.tasks__input-text:focus {
  color: #333;
}

/* New Task */
.tasks__new-task_title {
  display: block;
  margin: 0 0 20px;
}

.tasks__new-task_input {
  width: 318px;
}

/* Task list */
.tasks__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks__input-checkbox,
.tasks__input-label,
.tasks__input-text,
.btn {
  vertical-align: middle;
}

.tasks__input-checkbox {
  margin: 0 10px;
}

.tasks__task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.tasks__input-text_edit {
  width: 226px;
}

.btn__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .tasks__task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks__input-text_edit {
  display: none;
}

.edit .tasks__input-text {
  display: inline-block;
  width: 224px;
}

.tasks__task-label_edit {
  display: none;
}